# ignore all .DS_Store files
.DS_Store
# Ignore the datasets folder in this directory
/Users/maximilianolopezsalgado/data_projects/web_deployment_template
# Ignore zip, db, csv, img, jpeg, webp and png files
*.csv
*.zip  
*.db
*.img
*.jpeg
*.png
*.webp